html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
 }

/* ================================================= */
/* BODY */
/* ================================================= */
#bodyContainer{
  width:80%;
  /*background: blue;*/
  margin:0 auto;
}

#background1{
  height:600px;
  background: url('/public/photos/background1.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

#background2{
  height:600px;
  background: url('/public/photos/background2.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

#background3{
  height:600px;
  background: url('/public/photos/background3.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.sectionHeader{
  font-size: 40px;
  text-align:center;
}

/* ================================================= */
/* HEADER */
/* ================================================= */
#header{
  width:100%;
  vertical-align: middle;
  text-align:center;
  font-size:50px;
  /*background: red;*/
}

/* ================================================= */
/* ABOUT */
/* ================================================= */
#about{
  margin-left:400px;
  margin-right:400px;
}

#about p{
  font-size: 20px;
}

/* ================================================= */
/* PORTFOLIO */
/* ================================================= */
#portfolio{
  height:400px;
  width:100%;
}

#portfolioBoxContainer{
  margin-top:50px;
  margin-bottom:50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
  background:orange;
}

.portfolioBox{
  width: 100px;
  height: 100px;
  /*background: green;*/
  margin:50px;
} 

.portfolioBox p{
  text-align:center;
}

/* ================================================= */
/* CONTACT */
/* ================================================= */
#contact{
  height:200px;
  width:100%;
  background:gray;
}