html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #f4f7f6;
 }

/* ================================================= */
/* BODY */
/* ================================================= */
#bodyContainer{
  width:70%;
  /*background: blue;*/
  margin:0 auto;
}

#background1{
  height:600px;
  background: url('/public/photos/background1.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

#background2{
  height:600px;
  background: url('/public/photos/background2.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

#background3{
  height:600px;
  background: url('/public/photos/background3.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.sectionHeader{
  font-size: 40px;
  text-align:center;
  height: 100px;
  line-height:100px;
}

.imageContainer{
  position:relative;
}

.floatBlock{
  position:absolute;
  height: 200px;
  bottom: 10%;
}

#reference{
  background: white;
  font-size: 13px;
  color:black;
}

#reference a:visited{
  color:black;
}

/* ================================================= */
/* HEADER */
/* ================================================= */
#header{
  position: fixed;
  width: 70%;
  left: 15%;
  height: 150px;
  vertical-align: middle;
  text-align: center;
  font-size: 50px;
  background: white;
  z-index: 10;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#siteHeader{
  height: 60px;
  line-height: 90px;
}

#anchorLinkContainer{
  display:inline;
  font-size: 15px;
}

.anchorLink{
  margin-left: 2%;
  margin-right: 2%;
  color: black; /* blue colors for links too */
  text-decoration: none; /* no underline */
}

.anchorLink:visited{
  color:black;
}

/* Filler box is used to take up space where header covers the body container. */
#fillerBox{
  height:150px;
}

/* ================================================= */
/* ABOUT */
/* ================================================= */
#about{
  height: 400px;
  background: white;
}

#textContainer{
  margin-left: 300px;
  margin-right: 300px;
}

#about p{
  font-size: 20px;
}

/* ================================================= */
/* PORTFOLIO */
/* ================================================= */
#portfolio{
  height:400px;
  width:100%;
  background:white;
}

#portfolioBoxContainer{
  margin-bottom:50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolioBox{
  width: 100px;
  height: 100px;
  /*background: green;*/
  margin:50px;
} 

.portfolioBox p{
  text-align:center;
  font-size: 12px;
}

.icon{
  height:100px;
}

.galleryBox{
  opacity: 0;
  background:red;
  position: absolute;
  top: 10vh;
  left: 10vw;
  height: 90vh;
  width: 90vw;
  display: flex;
}

/* ================================================= */
/* CONTACT */
/* ================================================= */
#contact{
  height:200px;
  width:100%;
  background:white;
}

#emailLink{
  height:75px;
}

#mailLinkContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}