/* ================================================= */
/* BODY */
/* ================================================= */
#bodyContainer{
    width:100%;
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
}

/* Filler box is used to take up space where header covers the body container. */
#fillerBox{
    height:120px;
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
}
/* ================================================= */
/* HEADER */
/* ================================================= */
#header{
    width: 100%;
    left: 0%;
    height:120px;
    font-size:120px;
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
}
/* ================================================= */
/* ABOUT */
/* ================================================= */

/* ================================================= */
/* PORTFOLIO */
/* ================================================= */

/* ================================================= */
/* CONTACT */
/* ================================================= */